.main__wrapper{
    max-width: 760px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main__item-box{
    width: 24%;
    margin-top: 0.5em;
    box-sizing: border-box;
    background: green;
    min-height: 150px;
}