/* line 1, ../sass/buttons.sass */
.button {
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 11, ../sass/buttons.sass */
.button i {
  margin: 0 0.5em 0 0;
}
/* line 13, ../sass/buttons.sass */
.button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* line 16, ../sass/buttons.sass */
.button__dark-orange {
  background: #ea5800;
  color: #fff;
}
/* line 19, ../sass/buttons.sass */
.button__dark-green {
  background: #067500;
  color: #fff;
}
