/* line 1, ../sass/header.sass */
.header {
  background: red;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 7, ../sass/header.sass */
.header__time {
  background: yellow;
}
/* line 9, ../sass/header.sass */
.header__logo {
  width: 100px;
  height: 100px;
  background: green;
}
/* line 13, ../sass/header.sass */
.header__login {
  width: 100px;
  height: 100px;
  background: blue;
}
